html, body {
    height: 100%;
    width: 100%;
}

.quantity-select {
    max-width: 6em;
}

.home-btn {
    width: 12em;
    min-width: fit-content;
}

input:read-only.read-only-white {
    background-color: #fff;
}

.max-width-content {
   max-width: max-content;
}

.btn-fill {
    width: 100%;
}