html, body {
    height: 100%;
    width: 100%;
}

.full-page {
    padding-top: 15vh;
}

.form-label-align {
    text-align: left;
}

.quantity-select {
    max-width: 6em;
}

.home-btn {
    width: 8em;
}

input:read-only.read-only-white {
    background-color: #fff;
}