{% extends "base.html" %}

{% block title %}My Cart{% endblock title %}

{% block content %}
{% include 'navbarcustomer.html' %}


<div class="container">
    <h4 class="mb-4">Your shopping cart</h4>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <!-- Order summary card -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Order summary</h5>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td scope="row">Subtotal:</td>
                                <td>${{subtotal}}</td>
                            </tr>
                            <tr>
                                <td scope="row">Delivery Fee:</td>
                                <td>${{fee}}</td>
                            </tr>
                            <tr>
                                <td scope="row">Total:</td>
                                <td>${{total}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Delivery info card -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Deliver to</h5>
                    <form action="/pay?total={{total}}&building={{building}}&roomnum={{roomnum}}&note={{note}}" method="GET" onsubmit='payNow()'>
                        <div class="form-group">
                            <select class="form-control" name="building">
                                {% for building in buildings %}
                                <option value="{{building}}">{{building}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="roomnum" placeholder="Room number">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="note" rows="3"
                                placeholder="Additional notes"></textarea>
                        </div>
                        <div class="d-flex">
                            <button class="btn btn-primary flex-fill" type="submit">Request delivery</button>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-lg-9">
            <div class="row">
                {% for item in cart %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <!-- item cards -->
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{item.name}}</h5>
                            <form class="mt-auto" action="/cart" method="GET">
                                <div class="d-flex flex-wrap mb-2">
                                    <h5 class="card-subtitle font-weight-normal mt-0">${{item.price}}</h5>
                                    <h5 class="card-subtitle font-weight-normal mt-0 ml-auto">Qty: {{item.quantity}}</h5>
                                    <input type="hidden" name="removed_id" value="{{item.id}}">

                                    <!-- add ability to adjust item quantity within cart -->
                                    <!-- <select class="form-control quantity-select ml-auto" name="quantity">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select> -->
                                </div>
                                <div class="d-flex">
                                    <button class="btn btn-primary flex-fill" type="submit">Remove from cart</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}