<!DOCTYPE html>
<html>
    <head>
        <title>My Deliveries</title>
    </head>
    <body>
    <h1>TigerTask</h1>

    <a href="/homedeliver">Make A Delivery</a>
    <a href="/about">About</a>

    <h2>My deliveries:</h2>
<style>
td, th {
    padding-right: 15px;
}
tr {
    padding-bottom: 10px;
}
</style>
    <table>
        <tr>
            <th> Customer Name </th>
            <th> Customer Contact </th>
            <th> Location </th>
            <th> Items </th>
            <th> Price </th>
            <th> Date Placed </th>
            <th> Status </th>
        </tr>
        <tr>
            <td>Gregory Smith</td>
            <td>215-990-7552</td>
            <td>Wright 101</td>
            <td><a href="/orderdetails">See More</a></td>
            <td>$51.69</td>
            <td>11/6/19</td>
            <td>Not Delivered</td>
        </tr>
        <tr>
                <td>Bob</td>
                <td> 123-456-7890</td>
                <td>Bloomberg 342</td>
                <td><a href="/orderdetails">See More</a></td>
                <td>$7.89</td>
                <td>11/9/19</td>
                <td>Delivered</td>
            </tr>
    </table>
    </body>
</html>