{% extends "base.html" %}

{% block title %}My Deliveries{% endblock title %}

{% block content %}
{% include 'navbardeliver.html' %}
<div class="container">
    <h4 class="mb-4">My Deliveries</h4>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                {% for result in results %}
                <div class="col-md-4 col-lg-3 mb-4">
                    <!-- order cards very much a WIP -->
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Order placed {{result.time_placed}}</h5>
                            <p class="card-text"><strong>Name</strong><br> {{result.name}}</p>
                            <p class="card-text"><strong>Location</strong><br> {{result.building}} {{result.roomnum}}</p>
                            <p class="card-text"><strong>Order Total</strong><br> ${{result.price}}</p>
                            <form class="mb-2" action="/orderdetails" method="GET">
                                <input type="hidden" name="details_id" value="{{result.id}}">
                                <div class="d-flex">
                                    <button class="btn btn-primary flex-fill" type="submit">See details</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}