{% extends "base.html" %}

{% block title %}Deliverer FAQ{% endblock title %}

{% block content %}
{% include 'navbardeliver.html' %}
<div class='container'>
    <h1 class='text-center'>Deliverer FAQ</h1>
    <p class='font-weight-bold'>How do I claim an order?</p>

    <p>1. Navigate to the ‘Browse’ page.</p>
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-6">
            <img src="{{ url_for('static',filename='screenshots/claim_order_step_1.jpg') }}" class="img-thumbnail">
        </div>
    </div>
    <br>
    
    <p>2. Click ‘See Details’ for the order you’d like to claim.</p>
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-6">
            <img src="{{ url_for('static',filename='screenshots/claim_order_step_2.jpg') }}" class="img-thumbnail">
        </div>
    </div>
    <br>
    
    <p>3. After reviewing this order’s details to ensure that you are able and willing to purchase and deliver these items, click the ‘Claim Order’ button.</p>
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-6">
            <img src="{{ url_for('static',filename='screenshots/claim_order_step_3.jpg') }}" class="img-thumbnail">
        </div>
    </div>
    <br>
    <br>
    
    <p class='font-weight-bold'>How do I make a delivery?</p>
    
    <p>1. Follow the instructions under the ‘How do I claim an order?’ question to claim an order.</p>
    
    <p>2. Under the ‘Deliveries’ tab, locate the delivery you’d like to make and click the ‘See Details’ button.</p>
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-6">
            <img src="{{ url_for('static',filename='screenshots/deliver_step_2.jpg') }}" class="img-thumbnail">
        </div>
    </div>
    <br>
    
    <p>3. Purchase all of the items requested by the customer at the Princeton U-Store. If you cannot find an item, mark it as out of stock using the ‘Mark out of stock’ button under the item’s name.</p>
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-6">
            <img src="{{ url_for('static',filename='screenshots/deliver_step_3.jpg') }}" class="img-thumbnail">
        </div>
    </div>
    <br>
    <p>4. On the details page, click the name of the customer to receive the customer’s phone number. Kindly let them know you are on your way!</p>
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-6">
            <img src="{{ url_for('static',filename='screenshots/deliver_step_4.jpg') }}" class="img-thumbnail">
        </div>
    </div>
    <br>
    <p>5. When you arrive at the room and building specified in the delivery details page, knock and let the customer know that the order has been delivered.</p>
    
    <p>6. Kindly remind them to confirm the delivery of their order in-app.</p>
    <br>
    
    <p class='font-weight-bold'>How do I view my current balance?</p>
    
    <p>1. Navigate to the ‘Account’ page.</p>
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-6">
            <img src="{{ url_for('static',filename='screenshots/balance_step_1.jpg') }}" class="img-thumbnail">
        </div>
    </div>
    <br>
    
    <p>2. Your weekly (unpaid) balance is displayed under the ‘Balance’ heading.</p>
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-6">
            <img src="{{ url_for('static',filename='screenshots/balance_step_2.jpg') }}" class="img-thumbnail">
        </div>
    </div>
    <br>
    <br>
    
    <p class='font-weight-bold'>How am I paid?</p>
    
    <p>Deliverers are paid their balance in full weekly through Venmo. If you are not receiving payments properly or have a specific question, don’t hesitate to reach out to us at tigertask.princeton@gmail.com.</p> 
    <br>   
</div>
{% endblock content %}