{% extends "base.html" %}

{% block title %}Available Deliveries{% endblock title %}

{% block content %}
{% include 'navbardeliver.html' %}
<div class="container">
    <h4 class="mb-4">Available deliveries</h4>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="card mb-4">
                <div class="card-body pb-3">
                    <h5 class="card-title mb-0">Filter by</h5>
                </div>
                <div class="list-group list-group-flush pb-2">
                    <!-- example filters WIP -->
                    <a href="#" class="list-group-item border-0">Butler</a>
                    <a href="#" class="list-group-item border-0">Wilson</a>
                    <a href="#" class="list-group-item border-0">Rockefeller</a>
                    <a href="#" class="list-group-item border-0">Mathey</a>
                    <a href="#" class="list-group-item border-0">Whitman</a>
                    <a href="#" class="list-group-item border-0">Forbes</a>
                    <a href="#" class="list-group-item border-0">Other</a>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="row">
                {% for result in results %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <!-- order cards very much a WIP -->
                    <div class="card h-100">
                        <div class="card-header">
                            Order id and/or date
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Customer name</strong><br> {{result.name}}</p>
                            <p class="card-text"><strong>Customer contact</strong><br> {{result.phone_number}}</p>
                            <p class="card-text"><strong>Location</strong><br> {{result.building}} {{result.roomnum}}</p>
                            <p class="card-text"><strong>Price</strong><br> ${{result.price}}</p>
                            <p class="card-text"><strong>Time placed</strong><br> {{result.time_placed}}</p>
                            <form class="mb-2" action="/orderdetails" method="GET">
                                <input type="hidden" name="details_id" value="{{result.id}}">
                                <div class="d-flex">
                                    <button class="btn btn-outline-primary flex-fill" type="submit">See details</button>
                                </div>
                            </form>
                            <form action="/claimorder" method="GET" class="ml-auto">
                                <input type="hidden" name="claimed_id" value="{{result.id}}">
                                <div class="d-flex">
                                    <button class="btn btn-primary flex-fill" type="submit">Claim order</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}