{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <div class="text-center">
                <h1 class="mb-5">Welcome to TigerTask</h1>
                <h3 class="mb-5">I'm here to:</h3>
                <div class="mb-3">
                    <a href="/homecustomer" class="btn btn-primary home-btn">Order items</a>
                </div>
                <div class="mb-4">
                    <a href="/homedeliver" class="btn btn-outline-primary home-btn">Deliver items</a>
                </div>
                <p class="mb-5">You can switch at any time.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}