{% extends "base.html" %}

{% block title %}Index{% endblock title %}

{% block content %}
<div class="container d-flex flex-column full-page">
    <div class="row mx-auto text-center mb-4">
        <h1>Welcome to TigerTask!</h1>
    </div>
    <div class="row mx-auto text-center mb-5">
        <h3>I'm here to:</h3>
    </div>
    <div class="row mx-auto text-center mb-3">
        <a href="/homecustomer" class="btn btn-primary">Order items</a>
    </div>
    <div class="row mx-auto text-center">
        <a href="/homedeliver" class="btn btn-outline-primary">Deliver items</a>
    </div>
</div>
{% endblock content %}