<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container">
        <!-- brand name -->
        <a class="navbar-brand" href="/homedeliver">TigerTask</a>

        <!-- collapsed menu button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar items -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/homedeliver">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deliveries">My Deliveries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
