{% extends "base.html" %}

{% block title %}My Orders{% endblock title %}

{% block content %}
    {% include 'navbarcustomer.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="categories">
                    <h4 class="my-4">Filter by:</h4>
                    <div class="list-group">
                        <a href="#" class="list-group-item">All</a>
                        <a href="#" class="list-group-item">Waiting for Deliverer</a>
                        <a href="#" class="list-group-item">Being Delivered</a>
                        <a href="#" class="list-group-item">Delivered</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h4 class="my-4">Order placed November 12, 2019 at 9:00 PM</h4>
                <div class="row">
                    {% for order in orders %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">ID: {{order.id}}</h5>
                                <h6 class="card-subtitle">Customer: {{order.customer }}</h6>
                                <p class="card-text">Deliverer: {{order.deliverer}}</p>
                                <p class="card-text"><i>Status: {{order.status}}</i></p>
                                {% if order.status == "Waiting for Deliverer" %}
                                <form action='/orders'>
                                    <input type='hidden' name='canceled' value={{order.id}}>
                                    <button class="btn btn-danger btn-xs" type='submit' style='margin-bottom: 10px'>Cancel order</button>
                                </form>
                                 {% endif %}

                                 {%if order.status == "Being Delivered" %}
                                <form action='/orders'>
                                    <input type='hidden' name='delivered' value=True>
                                    <input type='hidden' name='delivered_id' value={{order.id}}>
                                    <button class="btn btn-success btn-xs" type='submit'>Confirm Delivery</button>
                                   
                                </form> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
