{% extends "base.html" %}

{% block title %}My Orders{% endblock title %}

{% block content %}
    {% include 'navbarcustomer.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="categories">
                    <h4 class="my-4">Date</h4>
                    <div class="list-group">
                        <a href="#" class="list-group-item">November 12, 2019</a>
                        <a href="#" class="list-group-item">November 11, 2019</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h4 class="my-4">Order placed November 12, 2019 at 9:00 PM</h4>
                <div class="row">
                    {% for order in orders %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">ORDER</h5>
                                <h6 class="card-subtitle">{{order.deliverer}}</h6>
                                <p class="card-text">{{order.customer}}</p>
                                <button class="btn btn-primary">Add to cart</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
